name: Release
on:
  release:
    types:
      - published

concurrency:
  group: ci-release
  cancel-in-progress: true

jobs:
  promote_release:
    uses: ./.github/workflows/promote-release.yml
    with:
      type: latest
      ref: ${{ github.event.release.tag_name }}

  link-release:
    runs-on: ubuntu-latest
    steps:
      - name: Link release to Linear tasks
        uses: Luscii/gha-release-linker@1
        with:
          version-name: ${{ github.event.release.tag_name }}
          linear-api-key: ${{ secrets.LINEAR_API_KEY }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          release-mode: both
